{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все статьи:</h1>
    (Всего статей: {{ posts|length }})
    <table>
        <caption>
            Всего статей: {{ posts|length }}
        </caption>
        <thead>
        <tr>
            <th scope="col">Загаловок</th>
            <th scope="col">Дата публикации</th>
            <th scope="col">Превью</th>
        </tr>
        </thead>
        <tbody>
    {% for post in posts %}
        <tr>
            <th scope="row"><a href="/posts/{{ post.pk }}">{{ post.title|censor }}</a></th>
            <td>{{ post.date_time_in|date:"d M Y" }}</td>
            <td>{{ post.text|truncatechars:50|censor }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock content %}
